.layout{        
    .header{
        color:#fff;
        background: #eebccb;
    }
    .content{
        background: #fff;        
    }
    .sider{
        background: #ffe8e8;
        min-height: 380px;
    }
    .footer{
        color:#fff;
        background: #fbfbfb;
    }
}